#klogo {
	float:left;
	width:50px;
	height:50px;
	
	
}
ul.nav  {
margin-left: 0px;
padding-left: 0px;
padding-right:  1px;
list-style: none;
border-bottom: 5px groove #000;
overflow: hidden;
zoom: auto;
}
ul.nav li {
float: left;
}
ul.nav a {
font-size: 30;
display: block;
border: 5px groove #000;
border-bottom: none;
padding: 10px;
margin-right: 0px;
background-color: #EAEAEA;
color: #333;
text-align: center;
font-size: 20px;
background-color: whitesmoke;
font-family: sans-serif;
}
div.jumbotron h1{
color: gray;
padding:10px;
font-size: 100px;
text-align: center;
border: solid;
background: black;
margin: auto;
box-sizing: border-box;
visibility: visible;
font-size-adjust: auto;
border-radius: 10px;
}
div.Website_info p{
    text-align: center;
    padding-right: 100px;
    padding-left: 100px;
    padding-bottom: 50px;
}
div.Website_info h1{
    text-align: center;
    padding-bottom: 100px;
}
div.Website_info h2{text-align: center;
    padding-bottom: 50px
}





div.return_to_top {
    text-align: center;
    padding-bottom: 0px;
}
body {
	background-color:#333;
    color: grey;
}
footer { text-align: center;

}
