*{
    background-image
    
}
h1 {
    border-style: solid;

}
nav{
    
    
}
#links{
    
    list-style-type: none;
    
}
li{
    padding: 10px;
    float: right;
    list-style: none;
    margin: 10px;
    
    
}
body{
    background-color: #faf2e4;
    margin: 0 15%;
    font-family: sans-serif;
    
}