p {
    padding: 50px 30px 50px 80px;
}
ul.nav  {
margin-left: 0px;
padding-left: 0px;
list-style: none;
border-bottom: 1px groove #000;
overflow: hidden;
zoom: 1;
}
ul.nav li {
float: left;
}
ul.nav a {
width: 12 em;
display: block;
border: 1px groove #000;
border-bottom: none;
padding: 5px;
margin-right: 5px;
background-color: #EAEAEA;
text-decoration:none;
color: #333;
text-align: center;
}
todolist {
margin: center;

}
gameCanvas {
    padding:100px, 100px, 100px, 100px;
}




</html>
